.qheader{
 display: flex;   
 justify-content: center;
 align-items: center;
 padding: 1px;
 background-color: white;
 width: 100%;
 position: sticky;
 z-index: 1000;
 top: 0;
 box-shadow: 1px 15px 8px -9px rgb(20,76,114);


}




.qheader_logo{
    /* position: reltive; */
  
display: flex;
flex-direction: row;
justify-content:end;
align-items:center;
left: 20px;
/* margin-right: 20px; */
/* height: 30px; */
}
.qheader_logo > img{
    height: 75px;
  

}

.qheadericons{
    display: flex;
    margin-top: 20px;
}
.qheadericon > .MuiSvgIcon-root{
    color: rgb(108 120 142);
    cursor: pointer;
    font-size: xx-large;
    padding: 5px 20px;

}
.qheadericon > .MuiSvgIcon-root:hover{
    color:rgb(20 61 89);
    /* background-color: lightsteelblue; */

}
.qheaderInput{
    display:flex;
    align-items: center;
    border: 1px solid lightsteelblue;
    padding: 5px;
    margin-top: 15px;
    
}
.qheaderInput >input{
   background-color: transparent;
   border: none;
   outline: none;
   color: rgb(49,49,49);
    
}
.qheaderInput >.MuiSvgIcon-root{
    color:rgb(108 120 142) ;
}
.qheaderInput >.MuiSvgIcon-root:hover{
    color:rgb(20 61 89);
}
.qheader_rem{
    display: flex;
    align-items: center;
    margin-left: 25px;
    
}
.qheader_rem > .qheader_avtar{
   cursor: pointer;
}
.qheader_rem >.MuiSvgIcon-root{
    font-size: xx-large;
    color:rgb(108 120 142) ;
    margin-left: 25px;
    cursor: pointer;
}
.qheader_rem >.MuiSvgIcon-root:hover{
    color:rgb(20 61 89);
}
.qheader_rem >.MuiButton-root{
    background-color: rgb(20 61 89);
    color: white;
  
    cursor: pointer;
    margin-left: 25px;
    text-transform: inherit;
    border-radius: 15px;
}
.qheader_rem >.MuiButton-root:hover{
     background-color:red;
     color: white;
}
.modal__title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
  }
  
  .modal__title > h5 {
    color: gray;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 30px;
  }
  
  .modal__title > h5:hover {
    color: #b92b27;
  }
  
  .modal__info {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .modal__info > p {
    margin-left: 10px;
    font-size: small;
    color: gray;
  }
  
  .modal__info > .modal__scope {
    display: flex;
    align-items: center;
    color: rgb(98, 98, 98);
    padding: 5px;
    margin-left: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 33px;
    cursor: pointer;
  }
  
  .modal__Field {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex: 1;
  }
  
  .modal__Field > .modal__fieldLink {
    color: gray;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  
  .modal__Field > .modal__fieldLink > input {
    flex: 1;
    border: none;
    outline: none;
    margin-left: 5px;
  }
  
  .modal__buttons {
    display: flex;
    align-items: center;
    margin-top: 260px;
    margin-right: -20px;
    border-top: 1px solid lightgray;
  }
  
  .modal__buttons > .cancle {
    margin-left: auto;
    border: none;
    margin-top: 5px;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }
  .modal__buttons > .add {
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: rgb(0, 64, 255);
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }
 
